<%= turbo_frame_tag "products_display" do %>
  <div class="row">
    <% products.each_slice(3) do |product_group| %>
      <% product_group.each do |product| %>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card mb-5">
            <div class="card-body">
              <h5 class="card-title">
                <%= product.name %><br>
                <%= number_to_currency(product.price) %>
              <h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <%= button_to "Add to Cart", carts_add_path, params: { product: product }, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>